/*
    Aplicando responsividade para telas de tablet com no mínimo 768px de largura e no máximo de 1200px de largura

    @autor: Vitor Reis
*/

    @media only screen and (min-width: 768px) and (max-width: 980px){
        #main-container{
            .image-container{
                margin-top: 200px;
                img{
                    max-width: 400px;                }
            }
            .text-container{
                h1{
                    font-size: 50px;
                }
                h2{
                    padding: 0 50px;
                    font-size: 30px;
                }
            }
            .box-circle-container{
                .radios{
                    input{
                        width: 15px;
                        height: 15px;
                        &::before{
                            height: 15px;
                            width: 15px;
                        }
                    }
                }
            }
            .button-container{
                a{
                    max-width: 400px;
                    height: 70px;
                    font-size: 22px;
                  }
            }
            .skip-container{
                margin-bottom: 100px;
                a{
                   font-size: 22px;
                }
            }
        }
    }